{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [2, { "skipUndeclared": true }],
    "arrow-body-style": ["error", "always"],
    "no-underscore-dangle": "off",
    "no-console": "off",
    "no-alert": "off",
    "indent": ["error", 4],
  },
  "env": {
    "browser": true,
    "node": true,
  }
}
