.Dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap;
}

.dashboard-panel{
  border-radius: .5rem;
  background-color: rgb(255,255,255);
  border: 0.2rem solid rgb(225, 232, 237);
}

.DashboardLeft {
  width: 290px;
}

.dashboard-main{
  flex-grow: 1;
  min-width: 300px;
  padding: 0 0.5rem 0 0.5rem;
}

.Statistics{
  padding: 0.5rem;
}
