.Dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap;
}

.dashboard-panel{
  border-radius: 0.5rem;
  background-color: rgb(255,255,255);
  border: 0.2rem solid rgb(225, 232, 237);
  margin-bottom: 0.5rem;
}

.DashboardLeft {
  width: 290px;
}

.dashboard-main{
  flex-grow: 1;
  min-width: 300px;
  max-width: 590px;
  padding: 0 0.5rem 0 0.5rem;
}

.main-panel{
  padding: 0.5rem;
}

.section-header{
  font-size: 2rem;
}
