.react-tab-panel select {
  margin: 0 0.3rem;
}

.tweet-box textarea {
  width: 100%;
  resize: none;
  padding: 0.7rem;
  width: 100%;
  border: 1px solid rgb(173,170,170);
  border-radius: 3px;
}

.tweet-btn-container {
  position: absolute;
  right: 1.2rem;
  bottom: 0.7rem;
}

.tweet-btn-container span {
  margin-right: 0.5rem;
}
.ScheduledList {
  position: relative;
}
.ScheduledList hr{
  margin: 0.3rem -0.5rem;
}
.ScheduledList h3{
  font-size: 2rem;
  padding: 0.3rem;
  color: #555;
}
.ScheduledList p{
  margin-left: 0.3rem;
}
.ScheduledList span{
  float: right;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  border-radius: 0.4rem;
}
.ScheduledList a{
  margin-left: 0;
}

.ScheduledList li {
  position: relative;
}
.ScheduledList li p{
  font-size: 0.8rem;
  color: DimGrey;
}
.ScheduledList li h4{
  margin-left: 0.3rem;
  margin: 0.5rem 0.3rem;

}
.scheduledTweet a{
  position:absolute;
  right: 0.2rem;
  top: 0.5rem;
}
