.Sidebar ul{
  padding: 0;
}
.Sidebar li a{
  display: block;
}
.Sidebar ul > li:first-child a{
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.Sidebar ul > li:last-child a{
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.Sidebar li a{
  padding: 0.5rem;
  font-size: 1.3rem;
}
.Sidebar li a:hover {
  background-color: #2689FF;
  color: rgb(255,255,255);
  cursor: pointer;
}

.Sidebar hr {
  margin: 0;
  border: 1px solid lightgrey;
}

.active-sidebar{
  background-color: #2689FF;
  color: rgb(255,255,255);
}
