@import url(Dashboard.css);
@import url(IndexPage.css);
@import url(NavBar.css);
@import url(NotFoundPage.css);
@import url(User.css);
@import url(Sidebar.css);
@import url(SearchSettings.css);
@import url(ScheduledTweets.css);
@import url(react-tab-panel.css);
@import url(react-date-picker.css);
@import url(react-select.css);
@import url(test.css);
@import url(CreateTweetList.css);
/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}

html {
  color: #030303;
  font: caption;
}

header {
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: rgb(245,248,250);
}

.app-body{
  display: flex;
  justify-content: center;
}

.app-content{
  margin-top: 3.1rem;
  width: 100%;
}

a {
  color: #03A9F4;
}

main {
  margin: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  margin: 4em 0 0 0;
  padding: 2em;
  text-align: center;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303F9F
}

footer p {
  color:white;
  font-weight: bold;
}

.login-button {
    background-color: rgb(0,140,186);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3rem;
    font-weight: bold;
}

.submit-button{
  font-weight: bold;
  background-color: #303F9F;
  border: none;
  color: white;
  margin: 0.3rem 0.2rem 0.1rem 0.3rem;
  padding: 0.6rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 0.2rem;
  cursor: pointer;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.submit-button:hover {
  background-color: rgb(3,169,244);
  box-shadow: 0.05rem 0.05rem 0.1rem #888888;

}
