
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #5c5a5a;
	line-height: 30px;
	font-weight: normal;
    text-align: center;
}

strong { font-weight: bold; font-style: italic; }

a, a:hover, a:focus {
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 0;
	font-size: 28px;
	color: #555;
    font-weight: bold;
}

img { max-width: 100%; }

::-moz-selection { background: #aaa; color: #fff; text-shadow: none; }
::selection { background: #aaa; color: #fff; text-shadow: none; }

.icons-container {
	padding: 40px 0 50px 0;
}

.container-gray {
	background: #f8f8f8;
}

.icons-text {
	padding-bottom: 10px;
}

/***** Header *****/

header {
	padding: 35px 0 25px 0;
	background: #333;
}

header h1 {
	color: #888;
	font-style: italic;
}

header p a, header p a:focus { color: #fff; border-bottom: 1px dotted #fff; }
header p a:hover { color: #fff; border: 0; }

.logo {
	padding-bottom: 10px;
}

.logo a {
	display: inline-block;
	width: 146px;
	height: 30px;
	background: url(../img/logo.png) center center no-repeat;
	text-indent: -9999px;
}

/***** Footer *****/

footer {
	padding: 25px 0;
	background: #333;
}

.footer-copyright {
    color: #aaa;
}

.footer-copyright a, .footer-copyright a:focus { color: #fff; border-bottom: 1px dotted #fff; }
.footer-copyright a:hover { color: #fff; border: 0; }

/* Retina-ize logo */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .logo a {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 146px 30px !important;
    }

}
